@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

/* Define the layer name */
@layer tailwind-base;

/* Put Tailwind inside the layer so it has lower priority than PrimeNG */
@layer tailwind-base {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  :root {
    --background: 249 250 251;
    /* Gray 50 */
    --surface: 255 255 255;
    /* White */
    --surface-highlight: 243 244 246;
    /* Gray 100 */
    --border: 229 231 235;
    /* Gray 200 */

    --text-main: 17 24 39;
    /* Gray 900 */
    --text-secondary: 107 114 128;
    /* Gray 500 */

    --primary: 79 70 229;
    /* Indigo 600 */
    --primary-light: 224 231 255;
    /* Indigo 100 */
    --primary-fg: 255 255 255;
  }

  .dark {
    --background: 10 10 12;
    /* Deepest Black */
    --surface: 20 20 24;
    /* Rich Dark Gray */
    --surface-highlight: 30 30 35;
    --border: 39 39 42;
    /* Zinc 800 */

    --text-main: 243 244 246;
    /* Gray 100 */
    --text-secondary: 156 163 175;
    /* Gray 400 */

    --primary: 249 115 22;
    /* Orange 500 */
    --primary-light: 67 20 7;
    /* Dark Orange Tint */
    --primary-fg: 255 255 255;
    /* 84, 125, 190 */
  }

  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    @apply bg-background text-text-main antialiased   overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* src/styles.css */

/* src/styles.css - Fix PrimeNG Toast vs Tailwind */

/* 1. Ensure content aligns to the top (default), not center */
.p-toast-message-content {
  align-items: flex-start;
}

/* 2. Fix the Close Button size and shape (Tailwind often breaks this) */
.p-toast-icon-close {
  width: 2rem;
  /* specific clickable size */
  height: 2rem;
  border-radius: 50%;
  /* ensure circular ripple/hover */
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
  border: none;
  margin-top: -0.25rem;
  /* Pull button up slightly to align with top text */
}

/* 3. Fix the Status Icon (Check/Error icon) alignment */
.p-toast-message-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  /* Push icon down slightly to align with text baseline */
}

/* 4. Ensure Typography is clean */
.p-toast-summary {
  font-weight: 700;
  /* Space between "Error" and the details */
  display: block;
}

.p-toast-message-text {
  display: inline !important;
}
